*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #222222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

div.container{
    margin: auto;
    width: 1200px;
    margin-top: 20px;
    padding: 10px;
}

nav{
    width: 300px;
    height: 500px;
    background-color: #444444;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

section{
    width: 870px;
    height: 500px;
    margin-left: 10px;
    float: left;
    background-color: rgb(209, 199, 199);
    box-sizing: border-box;
    padding-left: 25px;
}

ul.menu{
    list-style: none;
}

ul.menu li{
    width: 250px;
    height: 50px;
    line-height: 50px;
    background-color: #777777;
    color: whitesmoke;
    margin-top: 25px;
    box-sizing: border-box;
    padding-left: 10px;
}

ul.menu li:hover{
    background-color: rgb(102, 95, 95);
    text-decoration: overline;
}

input.btn{
    width: 100px;
    height: 30px;
    border: 1px solid #dddddd;
    background-color: #2a578b;
    color: whitesmoke;
    cursor: pointer;
}

input.campo{
    width: 300px;
    height: 30px;
    border: 1px solid #cccccc;
    margin-top: 5px;
    margin-bottom: 15px;
}