*{
    margin-top: 0px
}

div.principal{
    background-color: rgb(226, 226, 226);
    width: 1200px;
    /* margin: 20px; /* em toda a volta */
    /* alinhamento á direita
    float: right;
    margin-right: 30px; */
    /* centrar a div*/
    margin: auto;
    padding: 10px;
}

section.tstmargin {  
    background-color: wheat;
    width: 1000px;
    margin-left: 50px;
    margin-top: 150px;
}

section.tstpading{
    background-color: bisque;
    padding: 50px;
    box-sizing: border-box;
}

