header, nav, section, footer{
    background-color: grey;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;   
    padding: 10px;
    font: 100% Arial;
    color: rgb(238, 230, 230);
}

header{
    height: 250px;
}

section{
    height: 400px;
}

nav, footer{
    height: 55px;
}

@media only screen and (max-width: 900px){ 
    header, nav, section, footer{
        background-color: rgb(110, 110, 110);
        color: whitesmoke;
    }
}

@media only screen and (max-width: 650px){ 
    header, nav, section, footer{
        background-color: rgb(211, 211, 211);
    }
}