*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 900px;
    height: 400px;
    background-color: #8a4518;
    margin: auto;
}

h1{
    font-family: 'Parisienne', cursive;
    background-color: #572a0b;
    text-align: center;
    vertical-align: middle;
    height: 100%;  
    width: 25%;  
    color: whitesmoke;
    margin-left: 25px;
    box-sizing: border-box;
    padding-top: 150px;
    float: left;
}

div.banner1{
    background-color: grey;
    float: right;
    height: 100%;
    margin-right: 10px;
}

div.banner2{
    background-color: grey;
    float: right;
    height: 100%;
    margin-right: 10px;
}

div.banner3{
    background-color: grey;
    float: right;
    height: 100%;
    margin-right: 10px;
}

@keyframes slide1{
    
    0%, 15%{
        
    }

    20%, 35%{

    }

    40%, 55%{

    }

    60%, 75%{

    }

    80%, 100%{

    }
}