div.container{
    padding: 1.5%;
}

.banner1{
    height: 400px;
    background-image: url('../imagens/banner_900px.jpg');
}

h1, h2{
    background-color: rgba(0, 0, 0, 0.452);
    height: 100%;
    text-align: center;
    padding-top: 130px;
    color: whitesmoke;
    font-size: 1.5em;
}