div.container{
    padding: 1.5%;
}

.banner1{
    height: 400px;
    background-image: url('../imagens/banner_900px.jpg');
}

h1, h2{
    background-color: rgba(0, 0, 0, 0.452);
    height: 100%;
    text-align: center;
    padding-top: 130px;
    color: whitesmoke;
    font-size: 1.5em;
}

.destaques{
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(9, 9, 73, 0.884);
    color: whitesmoke;
}

.titulos{
    height: 100px;
    background-color: rgba(9, 9, 73, 0.650);
    line-height: 100px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 7px;
    color: whitesmoke;
}

article{
    margin-top: 30px;
}

figcaption{
    padding: 10px;
    text-align: justify;
}

.banner2{
    height: 400px;
    background-image: url('../imagens/banner_900px.jpg');
}